@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@600;800&display=swap");

:root {
  --black: #232424;
  --grey: #4a4a4a;
  --heading-ff: "Merriweather Sans", sans-serif;
  --primary-ff: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
  color: var(--grey);
}

.heading {
  font-family: var(--heading-ff);
  color: var(--black);
}
