@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500;700;800&family=Oswald:wght@500&display=swap");

:root {
  --black: #232424;
  --dark-grey: #4a4a4a;
  --grey: #929292;
  --light-grey: #dedee0;
  --red: #f61600;
  --bcg-grey: #efefed;
  --white: #fff;
  --heading-ff: "Montserrat", sans-serif;
  --primary-ff: "Merriweather", serif;
  --secondary-heading-ff: "Oswald", sans-serif;
  --transiton: 0.3s all ease;
  --max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
  color: var(--black);
  background: var(--bcg-grey);
}

ul {
  list-style: none;
}

main {
  max-width: var(--max-width);
  margin: 4rem auto 0;
  background: var(--white);
  padding: 1rem 2rem;
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--primary-ff);
}

.header {
  font-family: var(--heading-ff);
  color: var(--black);
}

.icon {
  vertical-align: bottom;
}

.text-red {
  color: var(--red);
}

.mt-4 {
  margin-top: 4rem;
}