@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500;700;800&family=Oswald:wght@500&display=swap");

:root {
  --black: #232424;
  --dark-grey: #4a4a4a;
  --grey: #929292;
  --light-grey: #dedee0;
  --bcg-grey: #efefed;
  --bcg-grey-2: #f7f7f6;
  --white: #fff;
  --red: #f61600;
  --facebook: #4267b2;
  --twitter: #1DA1F2;
  --heading-ff: "Montserrat", sans-serif;
  --primary-ff: "Merriweather", serif;
  --secondary-heading-ff: "Oswald", sans-serif;
  --transiton: 0.3s all ease;
  --max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
  color: var(--black);
  background: var(--bcg-grey);
}

ul, ol {
  list-style: none;
}

main {
  max-width: var(--max-width);
  margin: 4rem auto 0;
  background: var(--white);
  padding: 0 0 2rem;
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--primary-ff);
  outline: none;
}

.header {
  font-family: var(--heading-ff);
  color: var(--black);
}

.page-padding {
  padding: 0 1rem;
}

@media screen and (min-width: 600px) {
  .page-padding {
    padding: 0 2rem;
  }
}

.icon {
  vertical-align: bottom;
}

.text-red {
  color: var(--red);
}

.mt-4 {
  margin-top: 4rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.subtitle {
  color: var(--grey);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

